<app-obfpage>
  <mat-card class="formCard">
    <div class="formTitle">
      Configuration
    </div>
    <div class="formButtons">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <mat-tab-group>
      <mat-tab label="Board URL">
        <div class="formContainer">
          <mat-card>
            <mat-form-field class="formInputField">
              <input [(ngModel)]="boardURL" matInput placeholder="URL for obf/obz file" class="formInputUrl">
            </mat-form-field>
            <div class="clickable" (click)="copyToClipboard()"><i class="material-icons">link</i>&nbsp;Create link</div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Speechbar behaviour">
        <div class="formContainer">
          <mat-card>
            <mat-checkbox [(ngModel)]="speakOnSpeechbarClick">
              <span class="formLabel">Speak when speechbar is clicked</span>
            </mat-checkbox>
          </mat-card>
          <mat-card>
            <mat-checkbox [(ngModel)]="showIconsInSpeechbar">
              <span class="formLabel">Display button images and labels in speechbar (instead of vocalisation text)</span>
            </mat-checkbox>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Permanent buttons">
        <div class="formContainer">
          <mat-card>
            <mat-checkbox [(ngModel)]="displayedButtons.showSpeakButton">
              <span class="formLabel">Speak button always shown</span>
            </mat-checkbox>
          </mat-card>
          <mat-card>
            <mat-checkbox [(ngModel)]="displayedButtons.showBackspaceButton">
              <span class="formLabel">Backspace button always shown</span>
            </mat-checkbox>
          </mat-card>
          <mat-card>
            <mat-checkbox [(ngModel)]="displayedButtons.showClearButton">
              <span class="formLabel">Clear button always shown</span>
            </mat-checkbox>
          </mat-card>
          <mat-card>
            <mat-checkbox [(ngModel)]="displayedButtons.showHomeButton">
              <span class="formLabel">Home button always shown</span>
            </mat-checkbox>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Scanning">
        <div class="formContainer">
          <mat-card>
            <mat-checkbox [(ngModel)]="scanningConfig.enabled">
              <span class="formLabel">Enable scanning</span>
            </mat-checkbox>
          </mat-card>
          <mat-card>
            <mat-form-field class="formInputField">
              <input [(ngModel)]="scanningConfig.time" matInput placeholder="Time to stay on each scanned item">
            </mat-form-field>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</app-obfpage>
