<mat-card class="formCard">
  <div class="formTitle">
    Configuration
  </div>
  <div class="formContainer">
    <mat-card>
      <mat-form-field class="formInputField">
        <input [(ngModel)]="boardURL" matInput placeholder="URL for obf/obz file" class="formInputUrl">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="formContainer">
    <mat-card><mat-checkbox [(ngModel)]="displayedButtons.showSpeakButton">Speak button always shown</mat-checkbox></mat-card>
    <mat-card><mat-checkbox [(ngModel)]="displayedButtons.showBackspaceButton">Backspace button always shown</mat-checkbox></mat-card>
    <mat-card><mat-checkbox [(ngModel)]="displayedButtons.showClearButton">Clear button always shown</mat-checkbox></mat-card>
    <mat-card><mat-checkbox [(ngModel)]="displayedButtons.showHomeButton">Home button always shown</mat-checkbox></mat-card>
  </div>
  <div class="formButtons">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-card>
