/* ::START::LICENCE::
Copyright eQualityTime ©2018
This file is part of OVFPlayer.
OVFPlayer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
OVFPlayer is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with OVFPlayer.  If not, see <https://www.gnu.org/licenses/>.
::END::LICENCE:: */
.formTitle {
  height: 100%;
  background-color: #e0e0e0;
  padding: 10px;
}

.formCard {
  padding: 0px;
}

.formContainer {
  padding: 20px;
}

.formInputUrl {
  width: 100%;
}

.formInputField {
  width: 100%;
  padding-right: 10px;
}

.formLabel {
  white-space: normal;
}

.formButtons {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.clickable {
  cursor: pointer;
}

.clickable, i {
  position: relative;
  top: 6px;
}

.borderExample {
  border: solid black;
  width: fit-content;
  display: inline-block;
}
