.formTitle {
  height: 100%;
  background-color: #e0e0e0;
  padding: 10px;
}

.formCard {
  padding: 0px;
}

.formContainer {
  padding: 20px;
}

.formInputUrl {
  width: 100%;
}

.formInputField {
  width: 100%;
  padding-right: 10px;
}

.formLabel {
  white-space: normal;
}

.formButtons {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.clickable {
  cursor: pointer;
}

.clickable, i {
  position: relative;
  top: 6px;
}
