<div class="board" *ngIf="board; else noBoard">
  <div class="boardRow"
      [class.scanHighlight]="scanningModel && scanningModel.currentHighlight === row"
      [class.scanSelect]="scanningModel && scanningModel.currentSelection === row"
      [style.height]="calculateRowHeight()"
      *ngFor="let row of buttonProvider.getScannableCollections()">
    <div class="boardButton"
        [class.scanHighlight]="butt && scanningModel && scanningModel.currentHighlight === butt"
        [class.scanSelect]="butt && scanningModel && scanningModel.currentSelection === butt"
        *ngFor="let butt of row.displayButtons">
        <app-obf-button *ngIf="butt" [butt]="butt.button" [clickHandler]="handleButtonClick.bind(this)"></app-obf-button>
    </div>
  </div>
</div>

<ng-template #noBoard>
  Loading Board...
</ng-template>
