.board {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boardRow {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
}

.boardButton {
  flex: 1 1 auto;
  width: 100%;
}

.scanHighlight {
  position: relative;
}

.scanHighlight:after {
  border: greenyellow solid 5px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scanSelect {
  position: relative;
}

.scanSelect:after {
  border: blue solid 5px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
