<div class="board" *ngIf="board; else noBoard">
  <div class="boardRow"
      *ngFor="let row of buttonProvider.getScannableCollections()"
      [class.scanHighlight]="row.isHighlighted()"
      [class.scanSelect]="row.isSelection()"
      [style.height]="calculateRowHeight()">
    <div class="boardButton"
        *ngFor="let butt of row.displayButtons"
        [class.scanHighlight]="butt && butt.isHighlighted()"
        [class.scanSelect]="butt && butt.isSelection()">
      <app-obf-button *ngIf="butt" [butt]="butt.button" [clickHandler]="handleButtonClick.bind(this)"></app-obf-button>
    </div>
  </div>
</div>

<ng-template #noBoard>
  Loading Board...
</ng-template>
