.speechbarContainer {
  display: flex;
  height: 100%;
}

.speechbar {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 0;
}

.speechbarTextItem {
  flex-shrink: 1;
}

.speechbarButtonItem {
  flex: 1 1 10%;
  min-height: 33%;
  max-width: 20%;
}

.speechbarText {
  padding: 12px;
}

.stackedButtonContainer {
  display: flex;
  flex-direction: column;
}

.stackedButton {
  flex-grow: 1;
}
