<div class="speechbarContainer">
  <button mat-raised-button (click)="speechbarService.speak()">Speak</button>

  <mat-card class="speechbar">
    <mat-card class="speechbarItem" *ngFor="let butt of speechbarService.getButtons()">
      {{butt.label}}
    </mat-card>
  </mat-card>

  <div class="stackedButtonContainer">
    <button class="stackedButton" mat-raised-button (click)="speechbarService.backspace()">Backspace</button>
    <button class="stackedButton" mat-raised-button (click)="speechbarService.clear()">Clear</button>
  </div>
</div>
