<div class="speechbarContainer">
  <div class="stackedButtonContainer">
      <button class="stackedButton" mat-raised-button (click)="speechbarService.speak()"
              *ngIf="displayedButtons.showSpeakButton">Speak</button>
      <button class="stackedButton" mat-raised-button (click)="boardService.home()"
              *ngIf="displayedButtons.showHomeButton">Home</button>
  </div>

  <mat-card class="speechbar">
    <mat-card class="speechbarItem" *ngFor="let butt of speechbarService.getButtons()">
      {{butt.label}}
    </mat-card>
  </mat-card>

  <div class="stackedButtonContainer">
    <button class="stackedButton" mat-raised-button (click)="speechbarService.backspace()"
            *ngIf="displayedButtons.showBackspaceButton">Backspace</button>
    <button class="stackedButton" mat-raised-button (click)="speechbarService.clear()"
            *ngIf="displayedButtons.showClearButton">Clear</button>
  </div>
</div>
