<div class="speechbarContainer">
  <div class="stackedButtonContainer">
      <button class="stackedButton" mat-raised-button (click)="speechbarService.speak()"
              [disabled]="speaking"
              *ngIf="displayedButtons.showSpeakButton">Speak</button>
      <button class="stackedButton" mat-raised-button (click)="boardService.home()"
              *ngIf="displayedButtons.showHomeButton">Home</button>
  </div>

  <mat-card class="speechbar" *ngIf="showIconsInSpeechbar; else vocalization" (click)="speechbarClick()">
    <div class="speechbarButtonItem" *ngFor="let butt of speechbarService.getButtons()">
      <app-obf-button [butt]="butt"></app-obf-button>
    </div>
  </mat-card>
  <ng-template #vocalization>
    <mat-card class="speechbar">
      <div class="speechbarTextItem" *ngFor="let butt of speechbarService.getButtons()">
          <mat-card class="speechbarText">
            {{butt.getVocalization()}}
          </mat-card>
      </div>
    </mat-card>
  </ng-template>

  <div class="stackedButtonContainer">
    <button class="stackedButton" mat-raised-button (click)="speechbarService.backspace()"
            *ngIf="displayedButtons.showBackspaceButton">Backspace</button>
    <button class="stackedButton" mat-raised-button (click)="speechbarService.clear()"
            *ngIf="displayedButtons.showClearButton">Clear</button>
  </div>
</div>
