/* ::START::LICENCE::
Copyright eQualityTime ©2018, ©2019, ©2020
This file is part of OVFPlayer.
OVFPlayer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
OVFPlayer is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with OVFPlayer.  If not, see <https://www.gnu.org/licenses/>.
::END::LICENCE:: */
.buttonDiv {
  width: calc(100% - 2 * var(--borderWidth));
  height: calc(100% - 2 * var(--borderWidth));
  border: var(--borderWidth) solid;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.buttonImageDiv {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
}

.buttonImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.buttonLabel {
  text-align: center;
}

.highContrast {
  background-color: white;
  color: black;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:hover {
  transform: scale(0.98, 0.98);
}

.pageTurn:before {
  content: '';
  position: absolute;
  top: 0;
  --turn-size: 16px;
  left: calc(100% - var(--turn-size));
  border-width: 0 var(--turn-size) var(--turn-size) 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  display: block;
  width: 0;
}
