<div [class]="'buttonDiv' + (clickHandler ? ' ripple' : '')" [style.background-color]="butt.backgroundColor" [style.border-color]="butt.borderColor"
      mat-ripple [matRippleDisabled]="!clickHandler" (click)="clickHandler && clickHandler(butt)">
  <div class="buttonImageDiv" *ngIf="butt.getImage() as image">
    <div *ngIf="image.isSVG(); else normalImage" [innerHTML]="image.getSource() | safe">SVG Image</div>
    <ng-template #normalImage>
      <img class="buttonImage" [src]="image.getSource()" *ngIf="image.getSource()" />
    </ng-template>
  </div>
  <div class="buttonLabel">
    {{butt.label}}
  </div>
</div>
