/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(90deg);
    transform-origin: left top;
    height: 100vw;
    width: 100vh;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 100%;
  }
}
